openapi: 3.0.1
info:
  title: Waves API
  description: |
    API for the new Waves text-to-speech model.
    Currently featuring our two models, Lightning & Lightning Large, with more models coming soon.
  version: 1.0.0
servers:
  - url: https://waves-api.smallest.ai
    description: Waves API server

paths:
  /api/v1/lightning-large/delete:
    post:
      summary: Delete a voice
      description: Remove a cloned voice from the platform.
      operationId: deleteVoiceFromModel
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                voiceId:
                  type: string
                  description: Voice ID of the voice to be deleted.
              required:
                - voiceId
      responses:
        '200':
          description: Voice deleted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True if the voice was deleted successfully.
                  voiceId:
                    type: string
                    description: ID of the deleted voice.
        '400':
          description: Bad request or limit exceeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    example: Voice ID required
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type.
                  message:
                    type: string
                    description: Error message.
              example:
                error: "Unauthorized"
                message: "Bearer token is missing or invalid."
        '500':
          description: Server error occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type.
                  message:
                    type: string
                    description: Error message.
              example:
                error: "InternalServerError"
                message: "An unexpected error occurred."

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for authentication.
