openapi: 3.0.1
info:
  title: AWAAZ APIs
  description: APIs for AWAAZ text to speech model
  version: 1.0.0
servers:
  - url: https://api.smallest.ai
    description: Beta server for Awaaz

paths:
  /awaaz/get_speech:
    post:
      summary: Get synthesized speech from text
      operationId: getSpeech
      parameters:
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
          description: Bearer token for authentication. Format is 'Bearer {token}'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: The text to be synthesized into speech
                voice_id:
                  type: string
                  description: |
                    The ID of the voice to be used for synthesis:
                      - 'prabhu_indian_male'
                      - 'vijay_indian_male'
                      - 'suresh_indian_male'
                      - 'anuja_indian_female'
                      - 'govind_indian_male'
                      - 'anamika_whisper_female'
                      - 'joy_sleepy_male'
                      - 'willian_angry_male'
                      - 'mehul_cheerful_male'
                      - 'janhvi_professional_female'
                      - 'chandralekha_bengal_female' 
                      - 'rustom_bengal_male'
                      - 'rakesh_north_indian_male'
                      - 'sarika_north_indian_female'
                      - 'ishwara_south_indian_male'
                      - 'jatin-mp-male'
                      - 'kavya-del-female'
                      - 'anamika-UP-female'
                      - 'abhay-UP-male'
                      - 'chandralekha_bengal_female'
                      - 'rustom_bengal_male'
                      - 'rakesh_north_indian_male'
                      - 'sarika_north_indian_female'
                      - 'ishwara_south_indian_male'
                speed:
                  type: number
                  format: float
                  description: The speed of the speech, ideally between 0.5 and 2
                add_wav_header:
                  type: boolean
                  format: bool
                  default: True
                  description: Whether to return the wav file with a header or without a header
                sample_rate:
                  type: integer
                  format: int
                  default: 24000
                  description: Sample rate of the output wav file.
      responses:
        "200":
          description: Synthesized speech retrieved successfully
          content:
            audio/wav:
              schema:
                type: string
                format: binary
                description: A PCM int16 WAV file at the specified frequency.
        "500":
          description: Database or Server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type
                  message:
                    type: string
                    description: Error message
      security:
        - bearerAuth: []

  /awaaz/get_server_state:
    post:
      summary: Get the current state of the server
      description: Server can be in multiple states. AWAAZ is only accessible in 'running' state. The states are not absolutely real-time, but rather approximate to the nearest 30 secs.
      operationId: getServerState
      parameters:
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
          description: Bearer token for authentication. Format is 'Bearer {token}'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                start_server:
                  type: boolean
                  description: |
                    Give False if you just want to get the server state. Give True to try starting the server.
                    The server can only be started from stopped state.
                    Starting or stopping the server takes some time. The server can have the following states:
                    - 'starting': The server is already being started
                    - 'stopping': The server is being stopped
                    - 'stopped': The server is stopped
                    - 'running': The server is up and running
      responses:
        "200":
          description: Server state retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Whether you were able to successfully start the server
                  state:
                    type: string
                    description: State of the server after calling the API
        "500":
          description: Database or Server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type
                  message:
                    type: string
                    description: Error message
      security:
        - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
