openapi: 3.0.1
info:
  title: Waves API
  description: |
    API for the new Waves text-to-speech model.
    Currently featuring our two models, Lightning & Lightning Large, with more models coming soon.
  version: 1.0.0
servers:
  - url: https://waves-api.smallest.ai
    description: Waves API server

paths:
  /api/v1/lightning/get_speech:
    post:
      tags:
        - Lightning
      operationId: synthesizeLightningSpeech
      summary: Generate speech from text (Lightning)
      description: Converts provided text to speech using the Lightning model.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LightningRequest'
      responses:
        '200':
          description: Synthesized speech retrieved successfully.
          content:
            audio/wav:
              schema:
                type: string
                format: binary
                description: A PCM int16 WAV file at the specified sample rate.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type.
                  message:
                    type: string
                    description: Error message.
              example:
                error: 'InvalidRequest'
                message: "The 'text' field is required."
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type.
                  message:
                    type: string
                    description: Error message.
              example:
                error: 'Unauthorized'
                message: 'Bearer token is missing or invalid.'
        '500':
          description: Server error occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type.
                  message:
                    type: string
                    description: Error message.
              example:
                error: 'InternalServerError'
                message: 'An unexpected error occurred.'

  /api/v1/lightning-large/get_speech:
    post:
      tags:
        - Lightning Large
      operationId: synthesizeLightningLargeSpeech
      summary: Generate speech from text (Lightning Large)
      description: Converts provided text to speech using the Lightning Large model.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LightningLargeRequest'
      responses:
        '200':
          description: Synthesized speech retrieved successfully.
          content:
            audio/wav:
              schema:
                type: string
                format: binary
                description: A PCM int16 WAV file at the specified sample rate.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type.
                  message:
                    type: string
                    description: Error message.
              example:
                error: 'InvalidRequest'
                message: "The 'text' field is required."
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type.
                  message:
                    type: string
                    description: Error message.
              example:
                error: 'Unauthorized'
                message: 'Bearer token is missing or invalid.'
        '500':
          description: Server error occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type.
                  message:
                    type: string
                    description: Error message.
              example:
                error: 'InternalServerError'
                message: 'An unexpected error occurred.'

  /api/v1/lightning-v2/get_speech:
    post:
      tags:
        - Lightning v2
      operationId: synthesizeLightningv2Speech
      summary: Generate speech from text (Lightning v2)
      description: Converts provided text to speech using the Lightning v2 model.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lightningv2Request'
      responses:
        '200':
          description: Synthesized speech retrieved successfully.
          content:
            audio/wav:
              schema:
                type: string
                format: binary
                description: A PCM int16 WAV file at the specified sample rate.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type.
                  message:
                    type: string
                    description: Error message.
              example:
                error: 'InvalidRequest'
                message: "The 'text' field is required."
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type.
                  message:
                    type: string
                    description: Error message.
              example:
                error: 'Unauthorized'
                message: 'Bearer token is missing or invalid.'
        '500':
          description: Server error occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type.
                  message:
                    type: string
                    description: Error message.
              example:
                error: 'InternalServerError'
                message: 'An unexpected error occurred.'

  /api/v1/lightning-large/stream:
    post:
      tags:
        - Lightning Large
      operationId: streamLightningLargeSpeech
      summary: Generate speech from text (Lightning Large)
      description: Converts provided text to speech using the Lightning Large model.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LightningLargeRequest'
      responses:
        '200':
          description: Synthesized speech retrieved successfully.
          content:
            text/event-stream:
              example:
                data: |
                  event: chunk
                  data: <WAV_DATA>
                  done: false

        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type.
                  message:
                    type: string
                    description: Error message.
              example:
                error: 'InvalidRequest'
                message: "The 'text' field is required."
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type.
                  message:
                    type: string
                    description: Error message.
              example:
                error: 'Unauthorized'
                message: 'Bearer token is missing or invalid.'
        '500':
          description: Server error occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type.
                  message:
                    type: string
                    description: Error message.
              example:
                error: 'InternalServerError'
                message: 'An unexpected error occurred.'

  /api/v1/lightning-v2/stream:
    post:
      tags:
        - Lightning v2
      operationId: streamLightningv2Speech
      summary: Generate speech from text (Lightning v2)
      description: Converts provided text to speech using the Lightning v2 model.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lightningv2Request'
      responses:
        '200':
          description: Synthesized speech retrieved successfully.
          content:
            text/event-stream:
              example:
                data: |
                  event: chunk
                  data: <WAV_DATA>
                  done: false

        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type.
                  message:
                    type: string
                    description: Error message.
              example:
                error: 'InvalidRequest'
                message: "The 'text' field is required."
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type.
                  message:
                    type: string
                    description: Error message.
              example:
                error: 'Unauthorized'
                message: 'Bearer token is missing or invalid.'
        '500':
          description: Server error occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type.
                  message:
                    type: string
                    description: Error message.
              example:
                error: 'InternalServerError'
                message: 'An unexpected error occurred.'

components:
  schemas:
    LightningRequest:
      type: object
      required:
        - text
        - voice_id
      properties:
        text:
          type: string
          description: The text to convert to speech.
        voice_id:
          type: string
          description: The voice identifier to use for speech generation.
        add_wav_header:
          type: boolean
          description: Whether to add WAV header to the output.
          default: false
        sample_rate:
          type: integer
          description: The sample rate for the generated audio.
          minimum: 8000
          maximum: 24000
          default: 24000
        speed:
          type: number
          description: The speed of the generated speech.
          minimum: 0.5
          maximum: 2.0
          default: 1.0
        language:
          type: string
          description: Determines how numbers are spelled out. If set to 'en', numbers will be read as individual digits in English. If set to 'hi', numbers will be read as individual digits in Hindi.
          default: 'en'
          enum:
            - en
            - hi
            - ta
            - fr
            - de
            - pl

    LightningLargeRequest:
      type: object
      allOf:
        - $ref: '#/components/schemas/LightningRequest'
      properties:
        consistency:
          type: number
          description: This parameter controls word repetition and skipping. Decrease it to prevent skipped words, and increase it to prevent repetition.
          minimum: 0.0
          maximum: 1.0
          default: 0.5
        similarity:
          type: number
          description: This parameter controls the similarity between the generated speech and the reference audio. Increase it to make the speech more similar to the reference audio.
          minimum: 0.0
          maximum: 1.0
          default: 0.0
        enhancement:
          type: number
          description: Enhances speech quality at the cost of increased latency.
          minimum: 0
          maximum: 2
          default: 1

    Lightningv2Request:
      type: object
      allOf:
        - $ref: '#/components/schemas/LightningRequest'
      properties:
        consistency:
          type: number
          description: This parameter controls word repetition and skipping. Decrease it to prevent skipped words, and increase it to prevent repetition.
          minimum: 0.0
          maximum: 1.0
          default: 0.5
        similarity:
          type: number
          description: This parameter controls the similarity between the generated speech and the reference audio. Increase it to make the speech more similar to the reference audio.
          minimum: 0.0
          maximum: 1.0
          default: 0.0
        enhancement:
          type: number
          description: Enhances speech quality at the cost of increased latency.
          minimum: 0
          maximum: 2
          default: 1

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
